{% extends "_layouts/app" %}

{% set teams = craft.entries.section('teams').all() %}
{% set count = 0 %}
{% block content %}

<div class="services">
	<div class="container">
		<h3>Company Services</h3>
		<hr>
		<div class="col-md-6">
			<img src="images/4.jpg" class="img-responsive">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
				libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
				libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
				libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque</p>
		</div>

		<div class="col-md-6">
			<div class="media">
				<ul>
					<li>
						<div class="media-left">
							<i class="fa fa-pencil"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Web Development</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
								libero, pulvinar tincidunt leo consectetur eget.</p>
						</div>
					</li>
					<li>
						<div class="media-left">
							<i class="fa fa-book"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Responsive Design</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
								libero, pulvinar tincidunt leo consectetur eget.</p>
						</div>
					</li>
					<li>
						<div class="media-left">
							<i class="fa fa-rocket"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Bootstrap Themes</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
								libero, pulvinar tincidunt leo consectetur eget.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="our-team">
	<div class="container">
		{% for team in teams %}
		{% set count = count + 1 %}
		{% if team.slug == 'egawa-taiki' %}
		<div class="text-center">
			<h3>Our Team</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit<br>amet consectetur
				adipisicing elit</p>
		</div>
		<div class="row president">
			{% set body = team.teamBody %}
			{% for block in body %}
			<div class="col align-self-center wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
				<div class="text-center">
					<img class="rounded-circle img-responsive" src="{{ block.image.one.url }}" alt="">
					<h2>{{ team.title }}</h2>
					<h4>{{ block.heading }}</h4>
					<p>{{ block.description }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
		{% if count == 2 %} <div class="row team"> {% endif %}
			{% set body = team.teamBody %}
			{% for block in body %}
			<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
				<div class="text-center">
					<img src="{{ block.image.one.url }}" class="img-responsive" alt="">
					<h2>{{ team.title }}</h2>
					<h4>{{ block.heading }}</h4>
					<p>{{ block.description }}</p>
				</div>
			</div>
			{% endfor %}
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
<!--/#our-team-->
{% endblock %}