{% extends "_layouts/app" %}

{% block content %}
{% set blocks = entry.humanResourceBody %}
<!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        {% for block in blocks %}
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 order-2 order-lg-1">
              <h4 class="mt-5 mt-lg-0">{{ entry.heading }}</h4>
              {{ block.description }}
          </div>
          {# <div class="image col-sm-12 col-md-12 col-lg-6 order-1 order-lg-2" style='background-image: url("{{ block.image.one.url }}");'> #}
          <div class="image col-sm-12 col-md-12 col-lg-6 order-1 order-lg-2">
            <img src="{{ block.image.one ? block.image.one.url : "" }}" class="img-responsive imd-fluid w-100" alt="{{ entry.heading }}">
          </div>
        </div>
        {% endfor %}
      </div>
    </section><!-- End Features Section -->
{% endblock %}