{% extends "_layouts/app" %}
{% block content %}
	<section id="service" class="service-detail">
		{% for item in entry.serviceBody %}
			<div class="container">
				<h2 class="py-2">{{ entry.title }}</h2>
				<hr>
				<div class="row">
					{% if item.image.one | length %}
						<div class="col-lg-4">
							<div class="service-item">
								<img class="img-responsive img-fluid rounded mx-auto d-block img-service" src="{{ item.image.one.url }}" width="100%" alt=""/>
							</div>
						</div>
					{% endif %}
					<div class="{{ item.image.one | length ? "col-lg-8" : "col-lg-12" }}">
						<div class="service-item">
							<div
								class="col-xs-12 col-sm-10 service-content text-justify">
								{# <h2>{{ entry.title }}</h2> #}
								{{ item.description }}
							</div>
						</div>
					</div>
					<!--/.blog-item-->
				</div>
			</div>
		{% endfor %}

		<!--/.blog-->
	</section>

	{% if entry.slug == "hospital" %}
		{% set categories = craft.categories()
        .group('testimonialCategories')
        .slug('hospital')
    %}
		{% set testimonials = craft.entries.section('testimonials')
    .relatedTo(categories) 
%}
		<section id="hospital" class="testimonials bg-gray">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>Review</h2>
				</div>
				<div class="{% if testimonials | length > 1 %} owl-carousel testimonials-carousel {% endif %}">
					{% for testimonial in testimonials %}
						<div class="testimonial-wrap">
							<div class="testimonial-item">
								{% set blocks = testimonial.testimonialBody %}
								{% for block in blocks %}
									<div class="hospital-box d-flex justify-content-start align-items-start">
										<img src="{{ block.hospitalImage.one.url }}" class="img-responsive" alt="{{ block.title }}">
										<h3>{{ block.hospitalName }}</h3>
									</div>
									{# <h4>{{ block.subheading }}</h4> #}
									<div class="row d-flex content-box justify-content-around d-flex align-items-start mt-5">
										<div class="col-sm-12 col-md-2 col-lg-2 text-center">
											<img src="{{ block.image.one.url }}" class="img-responsive" alt="{{ block.title }}">
										</div>
										<div class="col- col-sm-12 col-md-8 col-lg-8">
											<h3>{{ testimonial.title }}</h3>
											<h4>{{ block.subheading }}</h4>
											<p>
												<i class="bx bxs-quote-alt-left quote-icon-left"></i>
												{{ block.description }}
												<i class="bx bxs-quote-alt-right quote-icon-right"></i>
											</p>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
